/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {

    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {

  background: #66aa66 url("../img/background.jpg") center center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
  color: #ffffff;

}

h1 {

  font-size: 1.2em;
}

h2 {

  font-size: 1em;
  text-transform: uppercase;
}

.page-wrapper {

  min-height: 480px;
  text-align: center;
  padding: 10px;

}

header {

  background: rgba(0,0,0,0.4);
  padding: 10px;
  margin-bottom: 20px;

}

.logo {

  width: 33%;
}

section {

  margin-bottom: 20px;
}

section h2 {

  text-align: left;
  margin-bottom: 0.2em;
}

.team-name {

  font-size: 1.4em;
  background: #ff0000;
  padding: 10px;
  color: #ffffff;
  width: 66%;
  min-height: 50px;
}

.team-name p {

  margin: 0;
}

.opponent-team-name {

  background: #ffffff;
  color: #ff0000;
}

.last-result .opponent-team-name {


}

.next-match .opponent-team-name {

  background: #418CEB;
  color: #ffffff;
}

.settings-block {

  width: 30%;
  margin-left: 3%;
}

.settings-block button {

  text-align: center;
  width: 46.5%;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  height: 50px;
  text-indent: -9999px;

}

.view-settings {

  background: white url("../img/icons/svg/settings2.svg") center center no-repeat;
  background-size: 30px;

}

.view-settings #Layer_1 {

  fill: #ff0000 !important;
}

.view-schedule {

  margin-left: 3%;
  background: white url("../img/icons/svg/calendar4.svg") center center no-repeat;
  background-size: 30px;
}

.score-block {

  width: 30%;
  color: #000000;
  margin-right: 3%;

}

.schedule-block {

  width: 30%;
  margin-left: 3%;
}

.data-panel {

  font-size: 1.4em;
  text-align: center;
  width: 46.5%;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  height: 50px;
}

.data-score {

  background: yellow;

}

.data-date {

  background: #ffffff;
  color: #000000;
}

.data-date-month {

  margin-left: 3%;
}

.data-score-my-team {

  margin-right: 3%;
}

.last-result .score-block {


}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.pull-left {

  float: left;
}

.pull-right {

  float: right;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 645px) {

  .page-wrapper {

    max-width: 645px;
    min-height: 100vh;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
  }

  .logo {

    max-width: 25%;
  }

  .team-name {

    font-size: 2em;

  }

  .data-panel {

    min-height: 59px;
    height: auto;
    font-size: 2em;

  }

  .settings-block button {

    min-height: 59px;
    height: auto;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
